.card-element-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
/* Column Gap */
.card-element-list > * {
    box-sizing: border-box;
}
.card-element-list > *:not(:last-child) {
    margin: 0px;
}
/* Item sizing */
.card-element-list .element {
    flex: 0 1 135px;
}


/* medium size viewport */
@media screen and (max-width: 370px) {
    /* Column Gap */
    .card-element-list > *:not(:last-child) {
        margin-right: 10px;
    }
    /* Item sizing */
    .card-element-list .element {
      flex: 0 1 135px;
    }
}
  /* small size viewport */
@media screen and (max-width: 230px) {
    .card-element-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .card-element-list > *:not(:last-child) {
      margin-right: unset;
      margin-bottom: 10px;
      flex: 0 1 auto;
    }
}

/* Resize Menu Block */
.card-element-list-resize:hover {
  cursor: ew-resize;
}

:host ::ng-deep .p-sidebar {
  background: var(--gray-200);
  color: #3f3f46;
  border: 0 none;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}